@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0f19;
  --foreground: #e5e7eb;
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: #93c5fd;
}
